h1{
    text-align: center;
}
body{
    /* padding-left: 10vw; */
    /* padding-right: 10vw; */
}
/* #WITNESS_WHEREOF{
    text-align: center;
}
#sub{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#END{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
